//global

$red: #a51619;
$gray_bg: #e6e6e6;
$blue: #0d4680;
$black: #141414;

@font-face {
  font-family: 'TrampolinaRegular';
  src: url('../fonts/TrampolinaRegular_0.eot');
  src: local(''), url('../fonts/TrampolinaRegular_0.woff') format('woff'), url('../fonts/TrampolinaRegular_0.ttf') format('truetype'), url('../fonts/TrampolinaRegular_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrampolinaBlack';
  src: url('../fonts/TrampolinaBlack_0.eot');
  src: local(''), url('../fonts/TrampolinaBlack_0.woff') format('woff'), url('../fonts/TrampolinaBlack_0.ttf') format('truetype'), url('../fonts/TrampolinaBlack_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {

  //padding:0;

}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  //padding:0;
  //margin:0;
  //min-width:630px;
  background-color: $gray_bg;

}
.offcanvas_menu{
  margin-top:2rem;

}
.offcanvas_menu li a {
  color: #fff;
  font-family: TrampolinaRegular, serif;
  font-size: 1rem;
  line-height: .1rem;

}
.close-button:hover{
  color: #fff;
}
.close-button  {
  float: left;
  position: relative;
  color: #fff;


}

#offCanvas {
  background-color: $blue;
  padding: 0 2rem 0 2rem;

}

#in_off_logo{
  margin-top:30%;
}
//header
#nav a{
  color: $blue;
}
.line {
  height: 1rem;
  background-color: $gray_bg;
}

.top_wrapper {
  background-color: #fff;
}

@media screen and (min-width: 1024px) {
  .mobile_top {
    display: none;
  }

}

//medium
@media screen and (max-width: 1023px) and (min-width: 640px) {
  .top-bar {
    display: none;
  }

  .mobile_top {
    height: auto;
    max-height: 70px;
    background-color: #fff;

  }

  #logo_avoda {
    //width:31%;
    //height:auto;
    float: left;
    position: relative;
  }

  #logo_bar {
    //height:auto;
    //width:50%;
  }
  #hamburger {
    padding: 1.5% 2% 2% 2%;
    float: left;
    position: relative;
    //background-color: $blue;
    cursor: pointer;
  }

}

//small
@media screen and (max-width: 639px) {
  .top-bar {
    display: none;
  }

  .mobile_top {
    height: auto;
    max-height: 70px;
    background-color: #fff;

  }

  #logo_avoda {
    width: 28%;
    height: auto;
    float: left;
    position: relative;
  }

  #logo_bar {
    height: auto;
    width: 45%;
  }
  #hamburger {
    padding: 3% 2% 2% 2%;
    float: left;
    position: relative;
    //background-color: $blue;
    cursor: pointer;
  }

}


.top-bar {
  //padding: 0px 15px 0px 15px;
  padding: 0;
  background-color: #fff;
}

.top-bar ul {
  background-color: transparent;
}

.menu {
  font-family: TrampolinaRegular, serif;
  //font-weight: bold;
  color: $blue;
  font-size: 1.1rem;
}

.active {
  background: #ffffff;
  color: $red;
  border-bottom: 7px solid $red;
}

.wrap_menu {
  margin: 24px 0px 0px 0px;
  padding: 0px;
  width: 730px;
  background-color: #fff;
}

@media screen and (max-width: 1199px) {

  .menu {
    font-family: TrampolinaRegular, serif;
    //font-weight: bold;
    color: $blue;
    font-size: 1rem;
  }

  .wrap_menu {
    margin: 9px 0px 0px 0px;
    padding: 0px;
    width: 550px;
    background-color: #fff;
  }
}

//end of header
//slider
@media screen and (min-width: 1024px) {
  .swiper-slide {
    min-height: 511px;
    background-color: $gray_bg;
  }
}

#slide_1 {
  background-image: url("../img/slide_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1023px) {

  #slide_1 {

    background-image: url("../img/slide_1_small.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide {
    width: 100%;
    min-height: 22rem;
  }

}

//end of slider

//news
.content {
  background-color: $gray_bg;
  padding: 20px 0px 30px 0px;
  //height: 597px;
}

.news {

  height: 70px;
  min-height: 70px;
  background-color: #fff;
}

.n-title {
  text-align: center;
  padding-top: 0.6rem;
  background-color: $blue;
  color: #ffffff;
  font-family: TrampolinaRegular, serif;;
  height: 70px;

}

.news p {
  margin-top: 0.8rem;
  font-family: TrampolinaRegular, serif;
  padding: 0;
  margin-bottom: 0;
}

//end news

//content
.content {
  padding-top: 30px;
}

.articles {
  padding: 0;
}

.big_pic {
  padding: 0;
  min-height: 434px;
  //width: 570px;
  border-top: 7px solid $red;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/pic_1.jpg");
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/pic_1.jpg");
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/pic_1.jpg");
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#0d4680', GradientType=0);

  //background-image: url("../img/pic_1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.big_pic_title {
  padding: 0 20px 20px 20px;
  margin-top: 249px;
  min-height: 170px;

}

#big_pic_arr {
  margin-right: 95%;
}

.big_pic_title span {
  color: #ffffff;

  padding: 5px;
  background-color: $red;
  font-family: TrampolinaRegular, serif;
}

.big_pic_title h2 {
  color: #ffffff;

  font-family: TrampolinaBlack, serif;
  line-height: 2.5rem;
  margin-top: 1rem;
  font-size:2.5rem;
}

.small_pic {
  min-height: 202px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 1) 65%), url("../img/pic_2.jpg");
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 1) 65%), url("../img/pic_2.jpg");
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 1) 65%), url("../img/pic_2.jpg");
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top;
  background-color: #ffffff;

  border-top: 7px solid $red;
  padding: 110px 20px 0px 0px;
  float: right;
  position: relative;
  margin: 0px 0px 30px 0px;
  min-height: 12.7rem;
  width: 100%;
}

.small_wrapper_column {
  //padding: 0 0 0 0;

}

.small_pic_title span {
  color: #fff;
  padding: 5px;
  background-color: $red;
  font-family: TrampolinaRegular, serif;
}

.small_pic_title p {
  margin-top: 15px;
  padding: 0;
  color: $black;
  //font-weight: 900;
  font-family: TrampolinaRegular, serif;
  line-height: 1.2rem;
  background-color: #fff;
  //margin-top: 1rem;
}

//end content

//banners line
.banner_title {
  padding: 30% 1rem 1rem 1rem;

  h3 {
    color: #fff;
    font-family: TrampolinaBlack, serif;
    font-size:2rem;
    line-height:2rem;
    //font-weight: 900;
  }
  p {
    color: #fff;
    font-family: TrampolinaRegular, serif;
    line-height: 1.5rem;

  }
}

.area_wrapper {
  padding: 0;
  margin: 0;
  //min-height:290px;


}

$hb: auto;
#banner_area_1 {
  height: $hb;
  background-image: url("../img/b_1.png");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

#banner_area_2 {
  height: $hb;
  background-image: url("../img/b_2.png");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

#banner_area_3 {
  height: $hb;
  background-image: url("../img/b_3.png");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

#banner_area_4 {
  height: $hb;
  background-image: url("../img/b_4.png");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.blue_arr {
  margin-right: 95%;
}

//end banners line

//newsletters
.newsletters {
  text-align: center;
  height: 12rem;
  padding-top: 2rem;
  background-color: #fff;

}

.newsletters_wrapper {
  background-color: #fff;
}

.input-group #n_btn {
  background-color: $red;
  width: 6rem;
  font-family: TrampolinaBlack, serif;
  //font-weight:900;
  font-size: 1.5rem;

}

.newsletters h2 {
  font-family: TrampolinaBlack, serif;
  //font-weight:900;
  color: $blue;
}

//end newsletters
//footer
.footer {
  background-color: $blue;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;

}

.bottom_line {
  background-color: $black;
  height: 4rem;
}

.line_wr {
  margin: 1rem 0 1rem 0;
  height: 7px;
  background-color: #fff;
  border-right: solid $red 80px;
}

#f_btn {
  width: 100%;
  height: 2.5rem;
  background-color: $red;
  font-size: 1.5rem;
  //font-weight:900;
  font-family: TrampolinaBlack, serif;
  padding: 0;

}

.pictures {
  background-color: #fff;

}

.def_pic {

  width: 30%;
  height: auto;
  margin: 1.5%;
  //border: solid #fff .5rem;
  float: left;
  //position: relative;

}

#txtr {
  height: 6.5rem;
}

.f_menu li a {
  color: #fff;
  font-family: TrampolinaRegular, serif;
  font-size: 1rem;
  line-height: .5rem;
}

#f-logo {
  margin-top: 4rem;

}

#tvuna {
  float: left;
}

//end footer

//END OF HOME PAGE

//About

//banner
@media screen and (min-width: 640px) {
  .banner_ip {
    margin: 46px 0px 0 0px;
    padding: 0 3rem 0 0px;
    min-height: 434px;
    //width: 570px;
    border-top: 7px solid $red;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/ip_b_1.png");
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/ip_b_1.png");
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/ip_b_1.png");
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#0d4680', GradientType=0);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .banner_ip_title {
    margin-top: 18rem;
    color: #fff;
  }
  .red_line {
    border-right: 7px solid $red;
    padding-right: 1rem;
    //position: relative;
    //top: 10%;
    //transform: translateY(-10%);

  }
  .icon {
    float: left;
    position: relative;
    margin-top: 5px;
  }
  .icon_set {
    float: left;
    position: relative;

  }
  .banner_ip_title h2 {
    color: #fff;
    font-family: TrampolinaBlack, serif;
    line-height: 2.5rem;

  }

}

@media screen and (max-width: 639px) {
  .banner_ip {
    margin: 46px 0px 0 0px;
    padding: 0 1rem 0 0px;
    min-height: 300px;
    //width: 570px;
    border-top: 7px solid $red;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/ip_b_1.png");
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/ip_b_1.png");
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/ip_b_1.png");
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#0d4680', GradientType=0);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .banner_ip_title {
    margin-top: 10rem;
    padding-right: .5rem;
    color: #fff;
    border-right: 7px solid $red;
  }
  .icon {
    float: left;
    position: relative;
    margin-top: 5px;
  }
  .icon_set {
    float: left;
    position: relative;

  }
  .banner_ip_title h2 {
    font-size: 2rem;
    color: #fff;
    font-family: TrampolinaBlack, serif;
    line-height: 2.5rem;

  }

}

//end of banner

//a side

.side_a {
  background-color: $blue;
  padding: 1rem;
  margin-top: 46px;
  margin-bottom: 46px;
  border-top: 7px solid $red;

}

.aside_menu a {
  font-family: TrampolinaBlack, serif;
  color: #fff;
  font-size: 1.5rem;
  line-height: .5rem;
  margin-bottom: 1rem;
}

.wrapper_side {
  background-color: #306aa6;
  min-height: 6rem;

  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  h4 {
    color: #fff;
    font-family: TrampolinaBlack, serif;
    font-size:1.5rem;
  }
  .tt {
    //float: right;
    //position: relative;
    margin-top: .9rem;
  }
  .mm {
    float: right;
    position: relative;
    margin-left: 1rem;
  }
}

//end of a side

//b side
.side_b {
  background-color: #fff;
  padding: 2rem;
  margin: 46px 0 46px 0px;
  p {
    font-family: TrampolinaRegular, serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: $black;
    margin-top:1rem;
  }
  h3 {
    font-family: TrampolinaBlack, serif;
    line-height: 1.8rem;
    color: $black;
    font-size:2rem;
  }
  .citute {
    font-family: TrampolinaBlack, serif;
    font-size: 2.3rem;
    line-height: 2.6rem;
    color: #9c9c9c;
    padding: 2rem 8rem 2rem 0px;

  }

}

//end of b side

//END OF ABOUT PAGE

//SPEECHES PAGE

//banner

.top_side_wrapper {
  margin-top: 46px;
}

.banner_ip_side {
  border-top: 7px solid $red;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/side_banner.png");
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/side_banner.png");
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/side_banner.png");
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#0d4680', GradientType=0);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 434px;
}

.side_pic {
  border-top: 7px solid $red;

}

.banner_ip_side_text {
  padding: 3rem 2rem 2rem 2rem;
  background-color: #fff;
  min-height: 434px;

  h4 {
    font-family: TrampolinaBlack, serif;
    color: $black;
    line-height: 2rem;
    font-size:2rem;
  }

}

.pp {
  font-family: TrampolinaRegular, serif;
  max-height: 220px;
  overflow: hidden;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: $black;
}

//end banner

.side_c {
  margin-top: 46px;
  padding: 0 1rem 1rem 1rem;

}

//box

.box {
  min-height: 240px;
  //max-height:265px;
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 2rem 1rem 1rem 1rem;

  h4 {
    font-family: TrampolinaBlack, serif;
    color: $black;
    line-height: 2rem;
    font-size:2rem;
  }

  .pp_box {
    font-family: TrampolinaRegular, serif;
    max-height: 100px;
    overflow: hidden;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: $black;
  }

}

.date {
  background-color: $gray_bg;
  font-family: TrampolinaRegular, serif;
  font-size: 1rem;
  color: $black;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  //width:70%;
  //float: left;
}

//end box

//END OF SPEECHES PAGE

//CONTACT PAGE
@media screen and (min-width: 640px) {
  .banner_ip_contact {
    margin: 46px 0px 0 0px;
    padding: 0 3rem 0 0px;
    min-height: 434px;
    //width: 570px;
    border-top: 7px solid $red;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/banner_knesset.png");
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/banner_knesset.png");
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/banner_knesset.png");
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#0d4680', GradientType=0);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .banner_ip_title {
    margin-top: 18rem;
    color: #fff;
  }
  .red_line {
    border-right: 7px solid $red;
    padding-right: 1rem;
    //position: relative;
    //top: 10%;
    //transform: translateY(-10%);

  }
  .icon {
    float: left;
    position: relative;
    margin-top: 5px;
  }
  .icon_set {
    float: left;
    position: relative;

  }
  .banner_ip_title h2 {
    color: #fff;
    font-family: TrampolinaBlack, serif;
    line-height: 2.5rem;

  }

}

@media screen and (max-width: 639px) {
  .banner_ip_contact {
    margin: 46px 0px 0 0px;
    padding: 0 1rem 0 0px;
    min-height: 300px;
    //width: 570px;
    border-top: 7px solid $red;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/banner_knesset.png");
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/banner_knesset.png");
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 48%, rgba(13, 70, 128, 1) 100%), url("../img/banner_knesset.png");
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#0d4680', GradientType=0);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .banner_ip_title {
    margin-top: 10rem;
    padding-right: .5rem;
    color: #fff;
    border-right: 7px solid $red;
  }
  .icon {
    float: left;
    position: relative;
    margin-top: 5px;
  }
  .icon_set {
    float: left;
    position: relative;

  }
  .banner_ip_title h2 {
    font-size: 2rem;
    color: #fff;
    font-family: TrampolinaBlack, serif;
    line-height: 2.5rem;

  }

}

//form
#send{
  width:100%;
  font-family:TrampolinaBlack, serif;
  font-size:1.5rem;
  margin:1rem 0 1rem 0;

}

@media screen and (min-width: 880px) {
  #form {
    padding: 2rem 4rem 2rem 4rem;
    textarea {
      height: 8rem;
    }
    label {
      font-family: TrampolinaRegular, serif;
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 879px) {
  #form {
    padding: .5rem;
    textarea {
      height: 8rem;
    }
    label {
      font-family: TrampolinaRegular, serif;
      font-size: 1.1rem;
    }
  }
}
//end of form

//contact
.contact_detail{
  text-align: center;
  h4{
    font-family:TrampolinaRegular, serif;
    color: #fff;
  }
  p{
    font-family:TrampolinaRegular, serif;
    color: #fff;
  }
}
//end of contact

//END OF CONTACT PAGE

//GALLERY PAGE

.gallery_row{
  margin-bottom:3rem;
}
@media screen and (min-width: 640px) {
  .gallery_title {
    padding-right: .5rem;
    padding-left: 1.5rem;
    color: $black;
    h2 {
      font-family: TrampolinaBlack, serif;

    }
    margin-bottom: 2rem;

  }
}
@media screen and (max-width: 639px) {
  .gallery_title {
    padding-right: .5rem;
    padding-left: 1rem;
    color: $black;
    h2 {
      font-family: TrampolinaBlack, serif;
      font-size:2rem;
      border-right: solid $red 7px;
      padding-right:1rem;
    }
    margin-bottom: 2rem;

  }
}

@media screen and (min-width: 1080px) {
  .gallery_bg {
    background-color: #fff;
    padding:2rem 3rem 2rem 2rem;
    margin-top:46px;
    margin-bottom:46px;
  }
}

@media screen and (max-width: 1079px) {
  .gallery_bg {
    background-color: #fff;
    padding:1rem;
    margin-top:46px;
    margin-bottom:46px;
  }
}

.num{
  text-align: center;
}

//END OF GALLERY PAGE
