<!--footer-->
<div class="row expanded footer">
    <div class="row">
        <div class="large-3 medium-6 columns">
            <h4>צרו קשר</h4>
            <div class="line_wr"></div>
            <form action="" role="form" tabindex="6">
                <input type="text" placeholder="שם:" aria-required="true" required aria-labelledby="שם מלא">
                <input type="text" placeholder="דוא”ל:" aria-required="true" required aria-labelledby="דוא”ל">
                <textarea type="text" placeholder="הודעה:" id="txtr" aria-required="true" required  aria-labelledby="הודעה"></textarea>
                <input type="submit" class="button" value="שלח" id="f_btn">

            </form>
        </div>
        <div class="large-3 medium-6 hide-for-small-only columns">
            <h4>תמונות</h4>
            <div class="line_wr"></div>

            <div class="pictures">
                <div class="row">
                    <img class="def_pic" src="{{root}}assets/img/def_pic.jpg"/>
                    <img class="def_pic" src="{{root}}assets/img/def_pic.jpg"/>
                    <img class="def_pic" src="{{root}}assets/img/def_pic.jpg"/>
                    <img class="def_pic" src="{{root}}assets/img/def_pic.jpg"/>
                    <img class="def_pic" src="{{root}}assets/img/def_pic.jpg"/>
                    <img class="def_pic" src="{{root}}assets/img/def_pic.jpg"/>
                    <img class="def_pic" src="{{root}}assets/img/def_pic.jpg"/>
                    <img class="def_pic" src="{{root}}assets/img/def_pic.jpg"/>
                    <img class="def_pic" src="{{root}}assets/img/def_pic.jpg"/>

                </div>
            </div>
        </div>
        <div class="large-3 medium-6 hide-for-small-only columns">
            <h4>תפריט</h4>
            <div class="line_wr"></div>
            <ul class="menu vertical f_menu" role="menu" tabindex="7">
                <li><a href="index.html">דף הבית</a></li>
                <li class="divider"></li>
                <li><a href="about.html">מי אני</a></li>
                <li class="divider"></li>
                <li><a href="speeches.html">נאומים</a></li>
                <li class="divider"></li>
                <li><a href="articles.html">מאמרים</a></li>
                <li class="divider"></li>
                <li><a href="articles.html">מדיני והסברה</a></li>
                <li class="divider"></li>
                <li><a href="communication.html">תקשורת</a></li>
                <li class="divider"></li>
                <li><a href="communication.html">כנסת</a></li>
                <li class="divider"></li>
                <li><a href="contact.html">צור קשר</a></li>
            </ul>


        </div>
        <div class="large-3 medium-6 columns ">
            <img alt="Hillik Bar logo" id="f-logo" src="{{root}}assets/img/bottom_logo.png" height="136" width="264"/>
        </div>
    </div>
</div>

<div class="row expanded bottom_line">
    <div class="row">
        <div class="large-12 small-12 columns">
            <a href="#"><img alt="Tvuna logo" id="tvuna" src="{{root}}assets/img/tvuna_logo.png" height="52" width="212"/></a>
        </div>
    </div>
</div>
<!--end footer-->

<!--end_off_canvas-->
</div>
</div>
</div>