<!--startOffCanvas-->
<div class="off-canvas-wrapper" tabindex="-1">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper tabindex="-1">
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas role="navigation" tabindex="-1">

            <!-- Close button -->
            <div>
                <button class="close-button" aria-label="Close menu" type="button" data-close id="closeHidden" tabindex="-1">
                    <span aria-hidden="false" tabindex="-1">&times</span>
                </button>
            </div>

            <!-- Menu -->
            <ul class="menu vertical offcanvas_menu" role="menu">
                <li><a href="index.html">דף הבית</a></li>
                <hr>
                <li><a href="about.html">מי אני</a></li>
                <hr>
                <li><a href="speeches.html">נאומים</a></li>
                <hr>
                <li><a href="articles.html">מאמרים</a></li>
                <hr>
                <li><a href="articles.html">מדיני והסברה</a></li>
                <hr>
                <li><a href="communication.html">תקשורת</a></li>
                <hr>
                <li><a href="communication.html">כנסת</a></li>
                <hr>
                <li><a href="contact.html">צור קשר</a></li>
            </ul>
            <img src="{{root}}assets/img/bottom_logo.png" height="136" width="264" id="in_off_logo"/>


        </div>

        <div class="off-canvas-content" data-off-canvas-content>

            <!--firstEndOffCanvas-->
            <!--site header-->
            <div class="row expanded line"></div>

            <div class="row mobile_top">
                <img id="logo_bar" alt="Hillik Bar logo" src="{{root}}assets/img/logo_bar.png"/>

                <img  id="hamburger" alt="Menu" src="{{root}}assets/img/hamburger.png" data-toggle="offCanvas"/>

                <img id="logo_avoda" alt="Avoda logo" src="{{root}}assets/img/logo_avoda.png" />

            </div>
<div class="top_wrapper">
            <div class="row top-bar hide-for-small-only">

                <div class="large-2  small-3 top-bar-left"><a href="index.html"><img class="logo_avoda"
                                                                                     src="{{root}}assets/img/logo_avoda.png"/></a>
                </div>
                <div class="large-7 columns wrap_menu ">

                    <ul class="menu" role="menu" id="nav" tabindex="1">
                        <li ><a href="index.html">דף הבית</a></li>
                        <li class="divider"></li>
                        <li ><a href="about.html">מי אני</a></li>
                        <li class="divider"></li>
                        <li><a href="speeches.html">נאומים</a></li>
                        <li class="divider"></li>
                        <li><a href="articles.html">מאמרים</a></li>
                        <li class="divider"></li>
                        <li><a href="information.html">מדיני והסברה</a></li>
                        <li class="divider"></li>
                        <li><a href="communication.html">תקשורת</a></li>
                        <li class="divider"></li>
                        <li><a href="gallery.html">כנסת</a></li>
                        <li class="divider"></li>
                        <li><a href="contact.html">צור קשר</a></li>
                    </ul>


                </div>
                <div class="large-3 small-3 top-bar-right"><a href="index.html"><img alt="Hillik Bar logo" class="logo_bar"
                                                                                     src="{{root}}assets/img/logo_bar.png"/></a>
                </div>

            </div>
</div>
            <!--end of site header-->